/* FULL HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
    margin: 0 0;
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.container {
    width: 90%;
    margin: 0 auto;
}

:root {
    --main-color: rgb(0, 164, 153);
    --grey-black-color: rgb(65, 64, 66);
    /* cho tieu de */
    --Noto-sans: 'Noto Sans', sans-serif;
    /* cho content */
    --Noto-serif: 'Noto Serif', serif;
}

/* test */

.test {
    font-family: var(--Noto-serif);
    background-color: var(--main-color);
    font-size: 3rem;
    color: var(--grey-black-color);
}

/* FULL HTML */